<mount(() => {
  component.setState("expander", input.isOpen);
})/>
<effect(() => {
  let expanded;
  if (input.isOpen) {
    expanded = true;
  } else {
    expanded = false;
  }

  component.setState("expander", expanded);
})/>
<div class="expander">${state && state.expander ? "is true" : "is false"}</div>
