export type Input<T> = PropertyKey extends keyof T ? Record<string, string | Marko.Body<[Record<string, boolean>]>> : {
  [K in keyof T]: K extends "renderBody" ? Marko.Body<[Record<Exclude<keyof T, "renderBody">, boolean>]> : string
};
