<let/myState=1/>
<let/otherState=undefined/>
$ function runE() {
  otherState = myState;
  myState++;
}
<div>
  <div id="container">
    <div id="1">${myState}</div>
    <div id="2">${otherState || "notInit"}</div>
  </div>
  <button key="button" onClick(runE)>Increment</button>
</div>
