<const/[a, b, c]=["apples", "oranges", "bananas"]/>
<p>${a} ${b} ${c}</p>

<const/{ user: { firstName, middleName, lastName } }={
  user: {
    firstName: "George",
    middleName: "R.R.",
    lastName: "Martin"
  }
}/>
<p>${firstName} ${middleName} ${lastName}</p>
