<provider key="provider1" data=input.data number=1>
  [example 1 content]
  <receiver key="receiver1"/>
</provider>
-- [seperator]
<provider key="provider2" data=input.data number=2>
  [example 2 content]
  <receiver key="receiver2"/>
</provider>
